
    <div class="container" ng-controller="AboutController">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a ui-sref="app">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
    </div>

    <!--
    <div class="row row-content">
        <div class="col-xs-12 col-sm-9">
            <h2>Corporate Leadership</h2>
            <div ng-if="!showLeaders">
                <h3>{{message}}</h3>
            </div>
            <ul class="media-list" ng-if="showLeaders">
                <li class="media" ng-repeat="leader in leaders">
                <div class="media-left media-middle">
                    <img class="media-object img-thumbnail"
                    ng-src={{leader.image}} alt={{leader.name}}>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{leader.name}}
                        <span class="text-muted" style="font-size:10px;">{{leader.designation}}</span>
                    </h4>
                    <p>{{leader.description}}</p>
                </div>
                </li>
            </ul>

        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
    </div>
    -->
