
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a data-toggle="collapse" data-target=".navbar-collapse"
                       ui-sref="app">Home</a></li>
                   <li class="active">Analytics</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Analytics</h3>
               <p>Under construction</p>
               <hr>
            </div>
        </div>
    </div>
