
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a data-toggle="collapse" data-target=".navbar-collapse"
                       ui-sref="app">Home</a></li>
                   <li class="active">Analytics</li>
               </ul>
            </div>
            <div class="col-xs-12" ng-if="!showCharts">
                <h3>{{message}}</h3>
            </div>
            <!--for some reason ng-if wont' work here-->
            <div class="col-xs-12">
                <h3 ng-if="showCharts">Number Of Posts Over Month</h3>
                <div class="ct-chart ct-perfect-fourth" id="chartNumPosts"></div>
            </div>
            <br>
            <div class="col-xs-12">
                <hr>
                <p>More to be added...</p>
                <hr>
            </div>
        </div>
    </div>
