
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a ui-sref="app">Home</a></li>
                   <li class="active">Contact Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>Contact Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
           <div class="col-xs-12 col-sm-4">
                <address style="font-size: 100%">
                  <i class="fa fa-envelope"></i>: 
                    <a href="mailto:base99ltd@gmail.com">base99ltd@gmail.com</a>
               </address>
            </div>
        </div>
    </div>
