
    <a href="https://github.com/wangshan/hnjobs">
        <img style="position: absolute; top: 20; right: 0; border: 0;"
        class="hidden-xs"
        src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>
    <div class="container">
        <div class="row row-content">
            <!-- only show this div is !showHnJobs is true, otherwise remove this
            element from the DOM -->
            <div class="col-xs-12" ng-if="!showHnJobs">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showHnJobs">
                <div class="form-horizontal col-xs-12">
                    <div class="form-group">
                        <!--<form class="form-search form-inline">-->
                        <form class="form-search">
                            <div class="input-group">
                                <input type="text"
                                    class="form-control search-query"
                                    placeholder="word or regex..."
                                    ng-model="search.searchPattern"/>
                                <span class="input-group-btn">
                                    <button type="submit"
                                        class="btn btn-primary"> Search
                                    </button>
                                </span>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                        class="pointer-on-tab"
                        ng-repeat="source in sourceTypes"
                        ng-class="{active: isSelected($index)}">
                        <a ng-click="selectSourceType($index)"
                            aria-controls="source"
                            role="tab">{{ source }}</a>
                    </li>
                    <li role="presentation" class="dropdown">
                        <!-- FIXME: how to make this script work? -->
                        <script type="text/javascript">
                            $('.dropdown-menu li a').on('click', function() {
                                var selText = $(this).text();
                                console.log(selText);
                                $('.dropdown-toggle').html(selText + '<span class="caret"></span>');    
                            });
                        </script>
                        <a role="button" class="dropdown-toggle"
                            type="button"
                            id="month"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            {{ getFiltMonth() }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="month">
                            <li>
                                <a ng-click="selectMonth(0)"
                                    aria-controls="All">
                                    All</a>
                            </li>
                            <li class="pointer-on-tab"
                                ng-repeat="dateLabel in dateLabels">
                                <a ng-click="selectMonth($index+1)"
                                    aria-controls="getMonthYearText(dateLabel)">
                                    {{ getMonthYearText(dateLabel) }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content" scroller>
                    <ul class="media-list tab-pane fade in active">
                        <li class="media"
                            ng-show="showJob"
                            ng-repeat="job in jobs | filter: filterByMonth | filter: filterBySource | regex: 'description': search.searchPattern">
                            <div class="media-body">
                                <h3 class="media-heading">{{job.company}}
                                    <span class="label label-info">{{job.monthPosted}}</span>
                                    <span class="badge">{{job.source}}</span>
                                    <!--show different color using ng-class based on job.type-->
                                    <span class="badge">{{job.type | printArray: '/'}}</span>
                                    <span class="badge">{{job.time | date}}</span>
                                    <span class="badge">{{job.remote | printBool: 'remote'}}</span>
                                    <span class="badge">{{job.onsite | printBool: 'onsite'}}</span>
                                    <span class="pull-right">
                                        <a type="button" class="btn btn-primary"
                                            ui-sref="app.jobdetails({id: job.id})"
                                            ng-click="shareJob(job)">Share
                                        </a>
                                    </span>
                                    <!--
                                    <span><button type="button" class="btn-sm btn-primary pull-right"
                                            data-toggle="modal" data-target="#shareModal"
                                            ng-click="shareJob(job)">Share</button>
                                    </span>
                                    -->
                                </h3>
                                <p ng-bind-html="job.description | asHtml"></p>
                            </div>
                        </li>
                        <li class="media"
                            ng-show="!showJob"
                            ng-repeat="candidate in candidates | filter: filterByMonth | filter: filterBySource | regex: 'description': search.searchPattern">
                            <div class="media-body">
                                <h3 class="media-heading">{{candidate.name}}
                                    <span class="label label-info">{{candidate.monthPosted}}</span>
                                    <span class="badge">{{candidate.source}}</span>
                                    <!--show different color using ng-class based on job.type-->
                                    <span class="badge">{{candidate.jobType}}</span>
                                    <span class="badge">{{candidate.time | date}}</span>
                                </h3>
                                <p ng-bind-html="candidate.description | asHtml"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- TODO: modify to represent aboutus and contactus -->
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="Share This Job">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Share This Job</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row row-content">
                                <p ng-bind-html="share.jobContent | asHtml"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!--
                            <div class="col-xs-6 col-sm-4 col-md-4
                                addthis_sharing_toolbox">
                            </div>
                            -->
                            <div><a type="button"
                                    class="btn btn-success"
                                    ng-click="sendEmail()">
                                    <i class="fa fa-envelope-o"></i> Send</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

