
    <div class="container">
        <div class="row row-content" ng-controller="HnJobsController">
            <!-- only show this div is !showHnJobs is true, otherwise remove this
            element from the DOM -->
            <div class="col-xs-12" ng-if="!showHnJobs">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showHnJobs">
                <!-- replace with a ng-repeat -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                     ng-class="{active: isSelected(1)}">
                    <a ng-click="select(1)"
                     aria-controls="All"
                     role="tab">All</a></li>

                    <li role="presentation"
                     ng-repeat="dateLabel in dateLabels"
                     ng-class="{active: isSelected($index + 2)}">
                    <a ng-click="select($index + 2)"
                     aria-controls="getMonthYearText(dateLabel)"
                     role="tab">{{ getMonthYearText(dateLabel) }}</a></li>
                </ul>
                <div class="tab-content">
                    <ul class="media-list tab-pane fade in active">
                        <li class="media" ng-repeat="job in jobs | filter: filterByMonth">
                            <!--
                            <div class="media-left media-middle">
                                <a ui-sref="app.jobdetails({id: job.id})">
                                <img class="media-object img-thumbnail"
                                 ng-src={{job.image}} alt="Uthappizza">
                                </a>
                            </div>
                            -->
                            <div class="media-body">
                                <h3 class="media-heading">{{job.company}}
                                    <span class="label label-info">{{job.monthPosted}}</span>
                                    <span class="badge">{{job.source}}</span>
                                    <!--show different color using ng-class based on job.type-->
                                    <span class="badge">{{job.type}}</span>
                                    <span class="badge">{{job.time | date}}</span>
                                </h3>
                                <p ng-bind-html="job.description | asHtml"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
