
    <a href="https://github.com/wangshan/hnjobs">
        <img style="position: absolute; top: 20; right: 0; border: 0;"
        class="hidden-xs"
        src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>
    <div class="container">
        <div class="row row-content">
            <!-- only show this div is !showHnJobs is true, otherwise remove this
            element from the DOM -->
            <div class="col-xs-12" ng-if="!showHnJobs">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showHnJobs">
                <div class="form-horizontal col-xs-12">
                    <div class="form-group">
                        <form class="form-search">
                            <div class="input-group">
                                <input type="text"
                                    class="form-control search-query"
                                    placeholder="word or regex..."
                                    ng-model="search.searchPattern"
                                    ng-change="updateSearchPattern()"/>
                                <span class="input-group-btn">
                                    <button type="submit"
                                        class="btn btn-primary"> Search
                                    </button>
                                </span>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"
                        class="pointer-on-tab"
                        ng-repeat="source in sourceTypes"
                        ng-class="{active: isSelected($index)}">
                        <a ng-click="selectSourceType($index)"
                            aria-controls="source"
                            role="tab">{{ source }}</a>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a role="button" class="dropdown-toggle"
                            type="button"
                            id="month"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            {{ getFiltMonth() }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="month">
                            <li>
                                <a ng-click="selectMonth(0)"
                                    aria-controls="All">
                                    All</a>
                            </li>
                            <li class="pointer-on-tab"
                                ng-repeat="dateLabel in dateLabels"
                                ng-class="{disabled: noDataForThisMonth($index)}">
                                <a ng-click="selectMonth($index+1)"
                                    aria-controls="getMonthYearText(dateLabel)">
                                    {{ getMonthYearText(dateLabel) }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content" scroller>
                    <ul class="media-list tab-pane fade in active">
                        <li class="media"
                            ng-show="showJob">
                            <div ng-repeat-start="job in jobs | filter: filterByMonth | filter: filterBySource | regex: 'description': search.searchPattern | limitTo: totalDisplayed">
                            </div>
                            <div ng-init="toggle.expanded=true" class="panel panel-default" ng-repeat-end>
                                <div class="panel-heading">
                                    <span ng-init="toggle.expanded=true" class="btn-group" role="group" aria-label="...">
                                        <a type="button"
                                            class="glyphicon glyphicon-triangle-bottom"
                                            ng-if="toggle.expanded"
                                            ng-click="toggle.expanded=false"></a>
                                        <a type="button"
                                            class="glyphicon glyphicon-triangle-right"
                                            ng-if="!toggle.expanded"
                                            ng-click="toggle.expanded=true"></a>
                                    </span>
                                    <span class="badge">{{job.monthPosted}}</span>
                                    <span class="badge">{{job.source}}</span>
                                    <span class="badge">{{job.type | printArray: '/'}}</span>
                                    <span class="badge">{{job.time | date}}</span>
                                    <span class="badge">{{job.remote | printBool: 'remote'}}</span>
                                    <span class="badge">{{job.onsite | printBool: 'onsite'}}</span>
                                    <span class="pull-right">
                                        <a type="button" class="label label-info"
                                            ui-sref="app.jobdetails({id: job.id})"
                                            ng-click="sharePost(job)">Share
                                        </a>
                                    </span>
                                </div>
                                <div class="panel-body" ng-if="toggle.expanded">
                                    <p ng-bind-html="job.description | asHtml"></p>
                                </div>
                            </div>
                        </li>
                        <li class="media"
                            ng-show="!showJob"
                            ng-repeat="candidate in candidates | filter: filterByMonth | filter: filterBySource | regex: 'description': search.searchPattern | limitTo: totalDisplayed">
                            <div class="media-body">
                                <h3 class="media-heading">{{candidate.name}}
                                    <span class="badge">{{candidate.monthPosted}}</span>
                                    <span class="badge">{{candidate.source}}</span>
                                    <h4>
                                    <span class="pull-left">
                                        <a type="button" class="label label-info"
                                            ui-sref="app.jobdetails({id: candidate.id})"
                                            ng-click="sharePost(candidate)">Share
                                        </a>
                                    </span>
                                    <br>
                                    </h4>
                                </h3>
                                <p ng-bind-html="candidate.description | asHtml"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
                <button class="btn btn-warning btn-block" role="button" ng-click="loadMore()">Load More</button>
            </div>

        </div>
    </div>

