<div class="container">
    <div class="row row-content">
        <div class="col-xs-12">
            <div class="media">
                <h4>Share This Post</h4>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a type="button"
                            role="button"
                            class="btn btn-success"
                            ng-click="sendEmail()">
                            <i class="fa fa-envelope-o"></i> Mail</a>
                    <a back type="button"
                            role="button"
                            class="btn btn-primary"
                            ui-sref="app">
                            <i class="fa fa-arrow-circle-left"></i> Back</a>
                </div>
                <hr>
                <p class="well" ng-bind-html="share.content | asHtml"></p>
                <br>
            </div>
        </div>
    </div>
</div>
